@import "@styles/base/_response";
.searchBar-style {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 0 20px 0 50px;
    &.active {
      background-color: white;
      color: white;
    }

    @include mobile {
      width: 80%;
      // justify-content: flex-start;
    }
    @include tablet {
      width: 80%;
      // justify-content: flex-start;
    }
    @include desktop {
      width: 100%;
      max-width: 1232px;
      // justify-content: center;
    }

    .searchIcon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
    input {
      height: 48px;
      background-color: rgba(255, 255, 255, 0);
      width: auto;
      border: none;
      outline: none;
      color: white;
      &::placeholder {
        color: white;
      }
      &:focus {
        color: #5e5f61;
      }
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 100%;
      }
    }
    .deleteIcon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
